*{
	box-sizing: border-box;

}

html,
body {
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	background-color: orange;

}

.wrapper {
	width: 90%;
	margin: 12rem auto;
	min-height: 300px;
	background-color:lightgrey;

}

h1 {
	margin: 1rem 0;
	color: #211f1f;
  font-weight: bold;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	font-size: 32px;
	margin: 2rem auto;
	padding-top: 10px;
	text-align: center;
	}

h2 {
	margin: 1rem 0;
	color: #211f1f;
  font-weight: bold;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	font-size: 16px;
	text-align: center;
}

p{
	/* margin: 1rem 0; */
	/* color: #211f1f; */
  font-weight: bold;
	/* display: flex; */
	/* justify-content: space-around;
	align-items: stretch; */
	font-size: 16px;
	text-align: center;
	background: #55ca79;
	position: absolute;
	/* padding: 5px; */

}

.row {
	display: flex;
	justify-content: center;
	}

img{
	width: 100%;
}

.tiere{
	margin: 5px;
	position:relative;

}
/* Standard psition ist static */

	#hund{
		/* position:absolute; */
		/* top: 5px; */
		bottom: 0;
		left:0;
		/* z-index: beschreibt die Achse in die Tiefe,zur Darstellung
		verschiedener Ebenen */
		z-index:4 ;
	}

	#katze{
		/* position:absolute; */
		/* top: 5px; */
		bottom: 0;
		right:0;
		z-index:4 ;
	}

	#maus{
		/* position:absolute; */
		/* top: 5px; */
		top: 0;
		right:0;
		z-index:4 ;
	}

	#huhn{
		/* position:absolute; */
		/* top: 5px; */
		top: 0;
		left:0;
		z-index:4 ;
	}

span{
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 50%;
	display: block;
	position:absolute;
	/* bottom: 0;
	left: 0; */
	z-index: 2;
}

#hundekringel{
	background: #89eab9;
	bottom: 0;
	left: 0;
}

#katzenkringel{
	background: #89eab9;
	bottom: 0;
	right:0;
		}

#mauskringel{
	background: #89eab9;
	top: 0;
	right:0;
		}

#huhnkringel{
	background: #89eab9;
			top: 0;
			left:0;
				}
